# 1. Forza GitHub a ignorare TUTTO il resto del repository (pom.xml, .idea, wrapper, ecc.)
* linguist-vendored=true
* linguist-documentation=true

# 2. Forza l'inclusione solo di Java, CSS e FXML
*.java linguist-vendored=false linguist-detectable=true
*.css  linguist-vendored=false linguist-detectable=true
*.fxml linguist-vendored=false linguist-detectable=true
