# Reset totale: ignora tutto
* linguist-vendored=false
* linguist-documentation=false

# Eccezioni: forza il rilevamento dei tuoi file
*.java linguist-vendored=false linguist-detectable=true
*.css  linguist-vendored=false linguist-detectable=true
*.fxml linguist-vendored=false linguist-detectable=true
