# Ignora tutto ciò che non è codice (librerie, wrapper, ecc.)
* linguist-vendored=true

# Forza l'inclusione separata per ogni tipo di file
*.java linguist-vendored=false linguist-detectable=true
*.css  linguist-vendored=false linguist-detectable=true
*.fxml linguist-vendored=false linguist-detectable=true
